@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

s */ * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Inter', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 
#«r6» {
    background: transparent;
    position: fixed;
    right: 6px;
    top: 70px;
    border-radius: 20px;
}

#«r5» {
    background: transparent;
    position: fixed;
    right: 6px;
    top: 70px;
    border-radius: 20px;
} */